<!-- User Transactions Index Navigation Bar -->
<nav class="navbar navbar-light bg-light bg-primary text-white d-flex flex-column">
  <div class="container align-items-baseline d-flex justify-content-between">
    <%= link_to root_path, class: "navbar-brand margin-neg-2rem" do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M13.5 8a.5.5 0 0 0-.5-.5H2.707l2.146-2.146a.5.5 0 0 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L2.707 8.5H13a.5.5 0 0 0 .5-.5z"/>
      </svg>
    <% end %>
    <h2 class="navbar-text text-white ">TRANSACTIONS</h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
    </svg>
  </div>
  <div class="container-fluid justify-content-end">
    <div class="sort-transaction d-flex gap-3">
      <p class="text-white">Most recent</p>
      <p class="p-text">Most ancient</p>
    </div>

  </div>
</nav>
