/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
    font-family: 'ProximaLight';
    src: url(asset-path('Proxima-Nova-Light.ttf')) format('truetype');
}

@font-face {
    font-family: 'ProximaBold';
    src: url(asset-path('Proxima-Nova-Bold.ttf')) format('truetype');
}

body {
    font-family: 'ProximaLight', sans-serif;
    background-color: #F5F6F8;
}

h1,h2{
    font-family: ProximaBold;
}

p{
    color: #434b54;
}

.custom-margin-top-6rm{
    margin-top: 6rem;
}

.bg-primary {
    background-color: #3778C2 !important;
}

.width-90{
    width: 90%;
}

.link{
    text-decoration: none !important;
}

.p-text{
    color: #434b54;
}

.avatar-icon {
    fill: #434b54;
}

#navbarNavAltMarkup {
    width: 100%; /* Make the navbar collapse container full width */
}

.navbar-nav {
    width: 100%; /* Make the navbar-nav items fill the entire width */
    justify-content: space-between; /* Distribute items evenly */
}

.margin-neg-2rem{
    margin-right: -2.5rem;
}

.scale-on-hover {
    transition: transform 0.3s ease-in-out; /* Adjust duration as needed */
}

.scale-on-hover:hover {
    transform: scale(1.1); /* Adjust scaling factor as needed */
}

.title-margin-top{
    margin-top: 50%;
}

.custom-gap-homepage{
    gap: 14rem;
}